<div class="table-container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">List of Pokemon</h1>
            <div class="controls">
                <button type="button" class="boton boton-editar" data-toggle="modal" data-target="#createPokemonModal"
                    (click)="openCreateModal()">
                    <i class="bi bi-pencil"></i>
                    <span>create</span>
                </button>
                <div class="search-bar">
                    <input type="text" placeholder="Search by name or ID..." [(ngModel)]="searchTerm"
                        (input)="onSearch()" />
                </div>
                <div class="page-size-selector">
                    <label for="pageSize">Records per page:</label>
                    <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="50">50</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="card-content">
            <ng-container *ngIf="loading; else loadedContent">
                <div class="skeleton-container">
                    <div *ngFor="let item of [1,2,3,4,5]" class="skeleton"></div>
                </div>
            </ng-container>
            <ng-template #loadedContent>
                <div class="table-responsive">
                    <table class="pokemon-table">
                        <thead>
                            <tr>
                                <th>
                                    <button (click)="changeSortField('id')"
                                        [class.sorted-asc]="sortBy === 'id' && sortDirection === 'asc'"
                                        [class.sorted-desc]="sortBy === 'id' && sortDirection === 'desc'">
                                        #
                                    </button>
                                </th>
                                <th>
                                    <button (click)="changeSortField('nombre')"
                                        [class.sorted-asc]="sortBy === 'nombre' && sortDirection === 'asc'"
                                        [class.sorted-desc]="sortBy === 'nombre' && sortDirection === 'desc'">
                                        Nombre
                                    </button>
                                </th>
                                <th>Imagen</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pokemon of localPokemonList; let i = index">
                                <td>{{ pokemon.id }}</td>
                                <td>{{ pokemon.nombre }}</td>
                                <td>
                                    <img [src]="pokemon.imagen" alt="{{ pokemon.nombre }}" width="50" />
                                </td>
                                <td>
                                    <button type="button" class="boton boton-editar" data-toggle="modal"
                                        data-target="#editPokemonModal" (click)="openEditModal(i)">
                                        <i class="bi bi-pencil"></i>
                                        <span>Edit</span>
                                    </button>

                                    <button type="button" class="boton boton-eliminar"
                                        (click)="deleteImage(pokemon.id)">
                                        <i class="bi bi-trash"></i>
                                        <span>Delete</span>
                                    </button>

                                    <button type="button" class="boton boton-ver" data-toggle="modal"
                                        data-target="#viewMoreModal" (click)="openViewMoreModal(i)">
                                        <i class="bi bi-info-circle"></i>
                                        <span>View More</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span>{{ showingMessage }}</span>

                    <div class="pagination-buttons">
                        <button (click)="goToFirstPage()" [disabled]="currentPage === 1" class="boton boton-paginacion">
                            First
                        </button>
                        <button (click)="previousPage()" [disabled]="currentPage === 1" class="boton boton-paginacion">
                            Previous
                        </button>

                        <span class="page-indicator">Page {{ currentPage }} of {{ totalPages }}</span>

                        <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                            class="boton boton-paginacion">
                            Next
                        </button>
                        <button (click)="goToLastPage()" [disabled]="currentPage === totalPages"
                            class="boton boton-paginacion">
                            Last
                        </button>
                    </div>
                </div>

            </ng-template>
        </div>
    </div>

    <!-- Modal for View More -->
    <div class="modal fade" id="viewMoreModal" tabindex="-1" role="dialog" aria-labelledby="viewMoreModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewMoreModalLabel">Pokémon Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="selectedPokemon">
                        <h5>{{ selectedPokemon.nombre }}</h5>
                        <img [src]="selectedPokemon.imagen" alt="{{ selectedPokemon.nombre }}" width="150" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for create Pokemon -->
    <div class="modal fade" id="createPokemonModal" tabindex="-1" role="dialog"
        aria-labelledby="createPokemonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPokemonModalLabel">Create Pokémon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeCreate">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="createPokemon()">
                        <div class="form-group">
                            <label for="pokemonName">Nombre del Pokémon</label>
                            <input type="text" id="pokemonName" [(ngModel)]="tempPokemon.nombre" name="nombre"
                                class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="createPokemonImage">Imagen del Pokémon</label>
                            <input type="file" id="createPokemonImage" (change)="onImageSelected($event)"
                                class="form-control" required />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for edit Pokemon -->
    <div class="modal fade" id="editPokemonModal" tabindex="-1" role="dialog" aria-labelledby="editPokemonModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editPokemonModalLabel">Edit Pokémon</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeEdit">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="updatePokemon()">
                        <div class="form-group">
                            <label for="pokemonName">Nombre del Pokémon</label>
                            <input type="text" id="pokemonName" [(ngModel)]="tempPokemon.nombre" name="nombre"
                                class="form-control" required />
                        </div>

                        <div class="form-group">
                            <label for="editPokemonImage">Actualizar Imagen del Pokémon</label>
                            <input type="file" id="editPokemonImage" (change)="onImageSelected($event)"
                                class="form-control" />
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>