<div class="table-container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">List of Users</h1>
            <div class="controls">
                <button type="button" class="boton boton-editar" data-toggle="modal" data-target="#createUserModal"
                    (click)="openCreateModal()">
                    <i class="bi bi-pencil"></i>
                    <span>create</span>
                </button>
            </div>
        </div>
        <div class="card-content">
            <ng-container *ngIf="loading; else loadedContent">
                <div class="skeleton-container">
                    <div *ngFor="let item of [1,2,3,4,5]" class="skeleton"></div>
                </div>
            </ng-container>
            <ng-template #loadedContent>
                <div class="table-responsive">
                    <table class="user-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of displayedUsers; let i = index">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <button class="boton boton-editar" data-toggle="modal" data-target="#editUserModal"
                                        (click)="openEditModal(i)">
                                        <i class="bi bi-pencil"></i>
                                        <span>Edit</span>
                                    </button>

                                    <button type="button" class="boton boton-eliminar"
                                        (click)="user.id && deleteUser(user.id)">
                                        <i class="bi bi-trash"></i>
                                        <span>Delete</span>
                                    </button>

                                    <button type="button" class="boton boton-ver" data-toggle="modal"
                                        data-target="#viewMoreModal" (click)="openViewMoreModal(i)">
                                        <i class="bi bi-info-circle"></i>
                                        <span>View More</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <span>Showing {{ (currentPage - 1) * pageSize + 1 }} to {{ currentPage * pageSize }} of {{
                        users.length }} entries</span>
                    <div class="pagination-buttons">
                        <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn">Previous</button>
                        <button (click)="nextPage()" [disabled]="currentPage * pageSize >= users.length"
                            class="btn">Next</button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- Modal for create User -->
<div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createUserModalLabel">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeCreate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="createUser()">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" id="userName" [(ngModel)]="tempUser.name" name="name" class="form-control"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="userEmail">Email</label>
                        <input type="email" id="userEmail" [(ngModel)]="tempUser.email" name="email"
                            class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <input type="password" id="userPassword" [(ngModel)]="tempUser.password" name="password"
                            class="form-control" required />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal for edit User -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeEdit">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editUser()">
                    <div class="form-group">
                        <label for="editUserName">Name</label>
                        <input type="text" id="editUserName" [(ngModel)]="tempUser.name" name="name"
                            class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="editUserEmail">Email</label>
                        <input type="email" id="editUserEmail" [(ngModel)]="tempUser.email" name="email"
                            class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="editUserPassword">Password</label>
                        <input type="password" id="editUserPassword" [(ngModel)]="tempUser.password" name="password"
                            class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for View More -->
<div class="modal fade" id="viewMoreModal" tabindex="-1" aria-labelledby="viewUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewUserModalLabel">User Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeCreate">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <p class="form-control-plaintext" id="userName">{{ tempUser.name }}</p>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <p class="form-control-plaintext" id="userEmail">{{ tempUser.email }}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>