<div class="dashboard-container">
    <header class="top-header">
        <div class="header-left">
            <span class="material-icons logo-icon">dashboard</span>
            <h1 class="header-title">Mi App</h1>
        </div>
        <div class="header-right">
            <div class="user-info">
                <!-- <img [src]="currentUser?.avatar" alt="User Avatar" class="avatar" /> -->
                <div class="user-details">
                    <span class="user-name">{{ currentUser?.name || 'Invitado' }}</span>
                </div>
            </div>
            <button mat-icon-button class="logout-btn" (click)="logout()">
                <span class="material-icons">logout</span>
            </button>
        </div>
    </header>
    <div class="content">
        <nav class="sidebar">


            <ul>
                <li *ngFor="let item of menuItems">
                    <a [routerLink]="item.link">
                        <span class="material-icons">{{ item.icon }}</span>
                        <span>{{ item.name }}</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>